In [1]:
import sqlite3

In [2]:
# إنشاء قاعدة البيانات وإنشاء الاتصال
connection = sqlite3.connect("company.db")
cursor = connection.cursor()

In [4]:
# إنشاء جدول employees
cursor.execute("""
CREATE TABLE IF NOT EXISTS employee (
    emp_id INTEGER PRIMARY KEY,
    last_name TEXT,
    salary REAL,
    manager_id INTEGER,
    department_id INTEGER
);
""")

# إدخال بيانات عينة في جدول employees
cursor.executemany("""
INSERT INTO employee (emp_id, last_name, salary, manager_id, department_id)
VALUES (?, ?, ?, ?, ?)
""", [
    (1, "Smith", 3000, 100, 1),
    (2, "Johnson", 4000, 101, 1),
    (3, "Williams", 2500, 102, 2),
    (4, "Brown", 5000, 103, 2),
    (5, "Jones", 2000, 200, 3)
])

In [5]:
# إنشاء جدول departments
cursor.execute("""
CREATE TABLE IF NOT EXISTS department (
    department_id INTEGER PRIMARY KEY,
    department_name TEXT,
    manager_id INTEGER
);
""")

# إدخال بيانات عينة في جدول departments
cursor.executemany("""
INSERT INTO department (department_id, department_name, manager_id)
VALUES (?, ?, ?)
""", [
    (1, "HR", 100),
    (2, "Engineering", 102),
    (3, "Sales", 200)
])

# Task 1: Using Comparison and Logical Operators
**Question:**
> Write a SQL query to retrieve the emp_id, last_name, and salary of employees whose salary is between 2,000 and 5,000 and do not have a manager ID of 101 or 200.
***
**Instructions:**
>1. Use the SELECT statement to specify the columns: emp_id, last_name, and salary.
>2. Filter the results using the WHERE clause with the BETWEEN operator to set the salary range.
>3. Use the NOT IN clause to exclude certain manager IDs.
>4. Combine conditions using the AND logical operator.

In [6]:

print("Task 1 Result:")
cursor.execute("""
SELECT emp_id, last_name, salary
FROM employee
WHERE salary BETWEEN 2000 AND 5000
AND manager_id NOT IN (101, 200);
""")
print(cursor.fetchall())

Task 1 Result:
[(1, 'Smith', 3000.0), (3, 'Williams', 2500.0), (4, 'Brown', 5000.0)]

# Task 2: Using JOINs and Aliases
**Question:** 
> Write a SQL query to display the employee names along with their respective department names. Use aliases for table names for better readability.
***
**Instructions:**
>1. Use the SELECT statement to specify the columns: employee.name and department.name.
>2. Use the FROM clause to include the tables employees and departments.
>3. Use an INNER JOIN to connect the employees and departments tables based on the department IDs.
>4. Use table aliases (e.g., e for employees, d for departments) to shorten the table names in the query.
>5. Order the results by department name in ascending order.

In [7]:
print("\nTask 2 Result:")
cursor.execute("""
SELECT e.last_name AS employee_name, d.department_name
FROM employee e
INNER JOIN department d
ON e.department_id = d.department_id
ORDER BY d.department_name ASC;
""")
print(cursor.fetchall())

Task 2 Result:
[('Williams', 'Engineering'), ('Brown', 'Engineering'), ('Smith', 'HR'), ('Johnson', 'HR'), ('Jones', 'Sales')]

# Task 3: Aggregate Functions and GROUP BY
**Question:**
***
>Write a SQL query to find the number of employees and the average salary for each department. Ensure that the results are grouped by department ID.
***
**Instructions:**
>1. Use the SELECT statement to specify the department ID, the count of employees, and the average salary.
>2. Use the GROUP BY clause to group the results by department ID.
>3. Use the COUNT() function to find the number of employees in each department.
>4. Use the AVG() function to calculate the average salary in each department.

In [8]:
print("\nTask 3 Result:")
cursor.execute("""
SELECT department_id, COUNT(emp_id) AS employee_count, AVG(salary) AS average_salary
FROM employee
GROUP BY department_id;
""")
print(cursor.fetchall())

Task 3 Result:
[(1, 2, 3500.0), (2, 2, 3750.0), (3, 1, 2000.0)]

In [9]:
# حفظ وإغلاق الاتصال
connection.commit()
connection.close()