# Section 1: Printing Messages
1. Write a Python program to print the following message on the screen: "Hello, Python learners! Today we start our coding journey."
2. Challenge: Print a multi-line message using triple quotes that includes your name and favorite programming language.

In [ ]:
print("Hello, Python learners! Today we start our coding journey.")


#Challenge

print('''name: Hazem
favorite programming language: Python''')

Hello, Python learners! Today we start our coding journey.
name: Hazem
favorite programming language: Python

# Section 2: Variables and Data Types
1. Create a variable called age and assign it your age. Print a message that says, "I am [age] years old."
2. Challenge: Create three variables of different data types (integer, float, and string). Print each variable with a description of its data type.

In [ ]:
age = 21
print("I am", age,"years old.")


#Challenge

var1 = 100
var2 = 10.2
var3 = "100"

print(type(var1))
print(type(var2))
print(type(var3))

I am 21 years old.
<class 'int'>
<class 'float'>
<class 'str'>

# Section 3: Working with Strings
1. Given the string text = "Python is amazing", write a program to extract and print the word "amazing" from it.
2. Challenge: Concatenate two strings, first_name and last_name, with a space in between, and print the full name in uppercase.

In [ ]:
text = "Python is amazing"
print(text[-7:])


#Challenge

first_name = "hazem "
last_name = "ayman"

fullName = first_name + last_name
fullName.upper()

amazing

'HAZEM AYMAN'

# Section 4: Basic Operations
1. Write a program to calculate the area of a rectangle with a width of 5 and a height of 10.
2. Challenge: Create two numbers, a = 20 and b = 7, and print the result of each arithmetic operation: addition, subtraction, multiplication, division, and modulo.

In [ ]:
width = 5
height = 10
area = width * height
print("area is",area)

#Challenge

a = 20 
b = 7

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)

area is 50
27
13
140
2.857142857142857
6

# Section 5: Lists and Tuples
1. Create a list of five of your favorite foods. Print the entire list, then print the third item in the list.
2. Challenge: Convert the list into a tuple, and try to change the first item in the tuple. Observe and explain the result.

In [ ]:
favoriteFoods = ["fish" , "meet" , "chiken" , "bananas" , "apples"]
print(favoriteFoods)
print(favoriteFoods[2])


#Challenge

favoriteFoods_tuple = tuple(favoriteFoods)
favoriteFoods_tuple["meet"] = "pitza"    # tuple object does not support item assignment
print(favoriteFoods_tuple)

['fish', 'meet', 'chiken', 'bananas', 'apples']
chiken

TypeError: 'tuple' object does not support item assignment

# Section 6: String Manipulation and Slicing
1. Given the string sentence = "Learning Python is fun!", write a program to slice and print the word "Python" from it.
2. Challenge: Replace the word "fun" with "awesome" in the sentence and print the new sentence.

In [ ]:
sentence = "Learning Python is fun!"
word = sentence[9:15]
print(word)

#Challenge

new_sentence = sentence.replace("fun", "awesome")
print(new_sentence)

Python
Learning Python is awesome!

# Section 7: Dictionaries
1. Create a dictionary called student with the keys name, age, and grade. Assign values to each key and print the dictionary.
2. Challenge: Add a new key city to the dictionary and set it to any city name. Print the updated dictionary.

In [ ]:
student = {
    "name": "John",
    "age": 16,
    "grade": "10th"
}
print(student)

#Challenge

student["city"] = "New York"
print(student)

{'name': 'John', 'age': 16, 'grade': '10th'}
{'name': 'John', 'age': 16, 'grade': '10th', 'city': 'New York'}

# Section8: Basic Arithmetic Operations
1. Write a program that takes two numbers from the user and prints their sum, difference, product, and division result.
2. Challenge: Use the modulo operator to check if the first number is divisible by the second number, and print the result as "Divisible" or "Not Divisible".

In [ ]:
# Take input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform arithmetic operations
sum_result = num1 + num2
difference = num1 - num2
product = num1 * num2
division = num1 / num2 if num2 != 0 else "undefined (division by zero)"

# Print results
print("Sum:", sum_result)
print("Difference:", difference)
print("Product:", product)
print("Division:", division)



#Challenge

if num2 != 0:
    if num1 % num2 == 0:
        print("Divisible")
    else:
        print("Not Divisible")
else:
    print("Cannot check divisibility by zero.")

Sum: 30.0
Difference: 10.0
Product: 200.0
Division: 2.0
Divisible